<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

	<extension point="org.eclipse.ui.views">
		<category name="General" id="org.eclipse.ui"/>
		<view name="Runner" icon="icons/run.gif" category="org.eclipse.ui"
            class="com.eclipserunner.views.RunnerView" id="com.eclipserunner.views.RunnerView" />
	</extension>
	
	<extension point="org.eclipse.ui.perspectiveExtensions">
		<perspectiveExtension targetID="org.eclipse.jdt.ui.JavaPerspective">
			<view ratio="0.5" relative="org.eclipse.ui.views.TaskList"
               relationship="right" id="com.eclipserunner.views.RunnerView" />
		</perspectiveExtension>
	</extension>
	
	<extension point="org.eclipse.help.contexts">
		<contexts file="contexts.xml" />
	</extension>

<!--
	<extension point="org.eclipse.ui.popupMenus">
      <objectContribution objectClass="java.lang.Object" id="org.eclipse.debug.ui.contextualBookmark.bookmark">
         <action label="Bookmark launch configuration"
               icon="icons/run_plus.gif" style="pulldown"
               class="com.eclipserunner.ui.menus.BookmarkPopupMenuAction"
               menubarPath="additions" enablesFor="+"
               id="org.eclipse.debug.ui.contextualBookmark.bookmark.submenu">
         </action>                  
      </objectContribution>
	</extension>
-->

</plugin>
